{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} | Contact {% endblock %}

{% block content %}

    <section>
      <img class="hero-wrap hero-wrap-2" src="{% static 'images/bg_4.jpg' %}" alt="">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread">Contact Us</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Contact us<i class="ion-ios-arrow-forward"></i></span></p>
            {% include 'includes/messages.html' %}
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-no-pb contact-section">
      <div class="container">
        <div class="row block-9">
          <div class="col-md-6 order-md-last d-flex">
            <form action="{% url 'inquiry' %}" class="bg-light p-5 contact-form" method="POST">
              {% csrf_token %}
              {% if user.is_authenticated %}
                <input type="hidden" name="user_id" value="{{user.id}}">
              {% else %}
                <input type="hidden" name="user_id" value="0">
              {% endif %}
              <div class="form-group">
                <input type="text" name="first_name" class="form-control" placeholder="Your Name">
              </div>
              <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Your Email">
              </div>
              <div class="form-group">
                <input type="text" name="subject" class="form-control" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea name="message" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
              </div>
            </form>

          </div>

          <div class="col-md-6 d-flex">
          	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d184552.57290127792!2d-79.51814281859359!3d43.718155660880214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cb90d7c63ba5%3A0x323555502ab4c477!2sToronto%2C%20ON!5e0!3m2!1sen!2sca!4v1600294752827!5m2!1sen!2sca" width="600" height="650" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
      </div>
    </section>

		<section class="ftco-section contact-section">
      <div class="container">
        <div class="row d-flex contact-info">
          {% for team in teams %}
          <div class="col-md-3 d-flex">
          	<div class="align-self-stretch box p-4 text-center">
          			<img class="icon d-flex align-items-center justify-content-center" src="{{ team.photo.url}}" alt="" style="min-height: 190px; max-height: 190px; min-width: 150px; max-width: 150px;">
          		<h3 class="mb-4">{{team.first_name}} </h3>
              <ul class="ftco-footer-social list-unstyled">
              <li class="ftco-animate"><a href="{{ team.twitter_link }}" target="_blank"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="{{ team.facebook_link }}" target="_blank"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="{{ team.pintrest_link }}" target="_blank"><span class="icon-pinterest"></span></a></li>
              </ul>
	          </div>
          </div>
          {% endfor %}
          <div class="col-md-3 d-flex">
          	<div class="align-self-stretch box p-4 text-center">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-phone2"></span>
          		</div>
          		<h3 class="mb-4">Contact Number</h3>
	            <p><a href="tel://1234567920">+ 1235 2355 98</a></p>
	          </div>
          </div>
          <div class="col-md-3 d-flex">
          	<div class="align-self-stretch box p-4 text-center">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-paper-plane"></span>
          		</div>
          		<h3 class="mb-4">Email Address</h3>
	            <p><a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
	          </div>
          </div>
        </div>
      </div>
    </section>


  {% endblock %}
